.App {
  display:flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
}

.ResetPasswordDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 200px;
  border: 1px solid;
}
.ResetDivTitle {
  text-align: center;
}